<script src="/static/styles/core.js"></script>
<script src="/static/styles/jquery.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

<html>

<h1>Crypto Arbitrage</h1>

<h2>Highest 5 Spreads:</h2>
<div id="highest-spread-1"></div>
<div id="highest-spread-2"></div>
<div id="highest-spread-3"></div>
<div id="highest-spread-4"></div>
<div id="highest-spread-5"></div>

<div id="test-id"></div>

<script>
	topFiveSpreads();
</script>

</html>

