h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #10161A;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #10161A;
} 